#category {
    font-weight: lighter;
}

#thngs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
}

.thng {
    padding: 0.5rem;

    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    background-color: #f2f2f2;
}

.thng--name {
    padding-left: 0.25rem;

    font-weight: 500;
    font-size: 2rem;
}

.thng--info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.thng--info__name {
    font-family: monospace;
    font-size: 1.25rem;
}

.thng--info__value {
    font-family: monospace;
    font-size: 1.25rem;
}

.thng--info__values {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}

.thng--info__values > .thng--info__value {
    text-align: right;
}
